# Angular / Node
node_modules/
package-lock.json
npm-debug.log*
yarn.lock
pnpm-lock.yaml

# Angular build & cache
dist/
.angular/
coverage/

# Environment files (if you add them later)
*.env
*.local
.env*
!.env.example

# IDE/editor
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/tasks.json
.idea/
*.iml

# OS junk
.DS_Store
Thumbs.db

# Vercel local project link (auto-created by CLI)
.vercel/
